ul.nav li{ 
    display: inline-block;
    padding-right: 10px;
    background: red;

 }
 ul.nav li a{
 	color: #fff
 }

 #about_blue{
 	background: #3593C3;
 	border: solid;

 }

 #about_blue ul{
 	color: blue;
 }

 #about_yellow{
 	background: #EEC87E;
 	border-style: solid;
 	margin-top: 20px;
 }

 #about_yellow ul{
 	color: orange;
 }

 .important{
 	font-size: 16;
 	font-weight: bold;
 }
